<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<link rel="stylesheet" href="css/main.css" />

<body ng-app="firstApp">

  <div ng-controller="mainController">
    <div class="sample1">
      <h3> Example - Ng-Repeat </h3>
      <div class="productContainer" ng-repeat="x in products">
        <h3> {{x.title}}</h3>
        <img class="image" ng-src={{x.coverPage}} />
        <div class="likes" ng-click="plusOne($index)">+{{x.likes}}</div>
        <div class="dislikes" ng-click="minusOne($index)">-{{x.dislikes}}</div>
      </div>

    </div>
    <div class="sample2">
      <h3> Example - Custom directives </h3>
      <div ng-repeat="item in apps" class="card ">
        <app-info info=item></app-info>
        <install-app></install-app>
      </div>
    </div>
  </div>

  <!-- Modules -->
  <script src=" js/main.js "></script>

  <!-- Controllers -->
  <script src="js/controllers/mainController.js "></script>
  <script src="js/directives/appInfo.js "></script>
  <script src="js/directives/installApp.js "></script>
</body>
</html>
